**/.vs
**/.vscode
**/.git
**/.github
**/bin
**/obj
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/node_modules
.env
*.env
README.md
LICENSE